{% extends 'base.html' %} {% load static %}{% block content %}
<main class="descripcion">
  <div class="admin-panel">
    <h2>Panel de <span class="azul">Administración</span></h2>
    {% if messages %} {% for message in messages %} {{ message }} {% endfor %}
    {% endif %}
    <section>
      <div class="juegos-header">
        <h3>Lista de juegos</h3>
        <a class="boton-primario" href="{% url 'juego_create' %}"
          >Crear Nuevo</a
        >
      </div>
      <table>
        <tr>
          <th>ID</th>
          <th>Título</th>
          <th>Descripción</th>
          <th>Precio</th>
          <th>Imagen URL</th>
          <th>Categoría</th>
          <th>Acciones</th>
          <th>Acciones</th>
        </tr>
        {% for juego in juegos %}
        <tr>
          <td>{{juego.juego_id}}</td>
          <td>{{juego.juego_nombre}}</td>
          <td>{{juego.descripcion}}</td>
          <td>{{juego.precio}}</td>
          <td>{{juego.imagen}}</td>
          <td>{{juego.categoria_id.categoria_nombre}}</td>
          <td>
            <a
              class="boton-secundario"
              href="{% url 'juego_update' juego.juego_id %}"
              >Editar</a
            >
          </td>
          <td>
            <form
              action="{% url 'juego_delete' juego.juego_id  %}"
              method="post"
            >
              {% csrf_token %}
              <button class="boton-eliminar">Eliminar</button>
            </form>
          </td>
        </tr>
        {% endfor %}
      </table>
    </section>
  </div>
</main>

{% endblock %}
